<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/estilos 2.css">
    <link rel="stylesheet" href="/styles/estilos.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
<!--   <h1>hola</h1>
   <ul>
        <li><a href="/quito">Quito</a></li>
                <li><a href="/cuenca">Cuenca</a></li>
                <li><a href="/guayaquil">Guayaquil</a></li>

      </ul>-->
      <nav class="navbar navbar-default">
     <div class="container-fluid">
       <!-- Brand and toggle get grouped for better mobile display -->
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
           <span>MENU</span>
         </button>
         <a class="navbar-brand" href="#">Mascota App</a>
       </div>

       <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
           <li><a href="/Inicio">Inicio</a></li>
           <li><a href="/ListarUsuarios">Lista de Usuarios</a></li>
           <li><a href="/CrearUsuario">Crear Usuario</a></li>
           <li><a href="/ListarRazas">Lista de Razas</a></li>
           <li><a href="/CrearRaza">Crear Razas</a></li>
           <li><a href="/ListarMascotas">Listar Mascotas</a></li>
           <li><a href="/CrearMascota">Crear Mascota</a></li>
         </ul>
       </div><!-- /.navbar-collapse -->
     </div><!-- /.container-fluid -->
   </nav>
   <div class="container">

    <%- body %>
   </div>
    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/App/app.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/npm.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
